.main_slide_bar {
  max-width: 320px;
}

.Header {
  height: 92px;
  padding-left: 28px;
  padding-right: 20px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.Title {
  flex: 1 1 0;
  color: white;
  font-size: 29px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word
}
